@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
   .primary-btn{
    @apply bg-primary font-semibold px-6 py-3 rounded-full hover:!scale-110 
    hover:!shadow-xl duration-300;
   }
}

body{
  font-family:"Poppins,sans-serif";
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeInUp 0.8s ease forwards;
}
